* {
  font-family: "Merriweather", serif;
}

/* Form */
h1 {
  margin: 0;
  padding: 20px;
  background-color: #2d3945;
  font-size: 20px;
  color: whitesmoke;
  text-align: center;
  text-transform: uppercase;
}
.main {
  text-align: center;
}
.main h2 {
  font-weight: 700;
  font-size: 20px;
  color: #2d3945;
}
.main p {
  color: slategray;
  font-size: 15px;
}

.line-break {
  background-color: #2d3945;
  border-radius: 3px;
  width: 300px;
  height: 5px;
  margin: 30px auto 2px auto;
}
.line-break-small {
  background-color: #2d3945;
  border-radius: 3px;
  width: 300px;
  height: 3px;
  margin: 1px auto 20px auto;
}
.line-break-bottom {
  background-color: #2d3945;
  border-radius: 3px;
  width: 300px;
  height: 3px;
  margin: 20px auto 20px auto;
}

fieldset {
  border: none;
}
.wrapper {
  background-color: whitesmoke;
  list-style-type: none;
  padding: 0;
  border-radius: 3px;
}
legend {
  font-weight: 700;
  color: #2d3945;
  margin-left: 5px;
  margin-bottom: 15px;
}
::placeholder {
  text-align: end;
  font-size: 10px;
  color: slategray;
  font-style: italic;
}
.form-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0.5em;
}
.form-row label {
  padding: 0.5em 1em 0.5em 0;
  flex: 1;
  color: slategray;
}
.form-row input {
  background-color: rgb(227, 227, 227);
  flex: 2;
  border: none;
  border-radius: 2px;
  padding: 15px;
  color: slategray;
}
input:focus {
  background-color: lightblue;
}
input:hover {
  border: 1px solid lightblue;
  border-radius: 5px;
}
select {
  background-color: rgb(227, 227, 227);
  flex: 2;
  border: none;
  border-radius: 2px;
  padding: 15px;
  color: slategray;
}
select:focus {
  background-color: lightblue;
}
select:hover {
  border: 1px solid lightblue;
  border-radius: 5px;
}
.zip {
  width: 120px;
}
.wrapper-bottom {
  margin: auto;
  color: slategray;
}
.wrapper-bottom legend {
  margin-bottom: -5px;
  margin-left: -5px;
}
p {
  font-size: 15px;
}
textarea {
  border: none;
  background-color: rgb(227, 227, 227);
  margin-bottom: 20px;
  width: 292px;
  height: 100px;
  border-radius: 2px;
  color: slategray;
}
textarea:focus {
  background-color: lightblue;
}

.btn {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  background: #4ebbb5;
  padding: 10px 40px 10px 40px;
  width: 295px;
  text-decoration: none;
  font-weight: 700;
}

footer {
  text-align: center;
  color: rgb(189, 189, 189);
  margin-top: 20px;
  font-style: italic;
  padding-bottom: 20px;
}

/* Media Query */
@media screen and (min-width: 768px) {
  .form-row {
    flex-direction: row;
  }
  .wrapper {
    width: 500px;
    margin: auto;
  }
  .line-break {
    width: 490px;
  }
  .line-break-small {
    width: 490px;
  }
  .line-break-bottom {
    width: 490px;
  }
  .wrapper-bottom {
    margin: auto;
    width: 490px;
  }
  textarea {
    width: 492px;
  }
  .btn {
    width: 495px;
  }
  .zip {
    max-width: 120px;
    margin-right: 172px;
  }
}
